.pagination-div{
    display: flex;
    gap: 10px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.pagination-div button{
    padding: 8px 12px;
    border-radius: 8px;
    background: #fff;
    cursor: pointer;
    font-size: 14px;
    border: 2px solid #e5e5e5;
}


.pagination-div span{
    font-size: 20px;
    font-family: "Al Bayan", sans-serif;
}