.search{
    width: 600px;
    height: 100px;
}

.search input{
    border: 2px solid #000000;
    margin-top: 30px;
    width: 400px;
    height: 40px;
}

.search button{
    border: 2px solid #000000;
    padding: 10px;
    margin-left: 30px;
}