.header{
    box-sizing: border-box;
    position: fixed;

    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
    width: 100%;
    height: 70px;
    background: #ffffff;
}

.header-container{
    max-width: 1440px;
}