*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
}


a, a:link, a:visited {
    text-decoration: none;
}

ul[class], ol[class] {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}



img {
    max-width: 100%;
    height: auto;
}

body {
    background: #acb0bc;

}
